@import './base.css';

.logo-ellipse{
  /*display: none;*/
  fill: var(--vg-green);
}
.logo-color{
 color: white;
 }

.logo-container{
  display: flex;
  flex-wrap: wrap;
  }

.logo-item{
  flex: 1 1 auto;
  }
 .logo-item img{
  max-height: 10rem;
  max-width: 10rem;
  min-height: 6rem;
  min-width: 6rem;
 }
 
 :root {
  --vg-green: rgba(0, 146, 69, 1.0);
}

.vg-green {
  color: var(--vg-green);
}