@import './base.css';

.logo-container{
  display: flex;
  flex-wrap: wrap;
  }


.logo-item{
  flex: 1 1 auto;
  }
 .logo-item img{
  max-height: 10rem;
  max-width: 10rem;
  min-height: 6rem;
  min-width: 6rem;
 }
 
 